### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [36]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# from IPython.display import display
# # from pandas_summary import DataFrameSummary


# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file)
# df.head()
# display(df)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [38]:
df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [39]:
#Display the total number of players

TP = df['SN'].nunique()
TP

# Create a dataframe for total players 

Total_players = pd.DataFrame({"Total Players":[TP]})
Total_players

   Total Players
0            576

In [46]:
# Calculate Total Players , Average Price , Number of Purchases and Total revenue

Purchasing_Anaylsis_Total =  pd.DataFrame({"Total Players":[df['SN'].nunique()], "Average Price": [df['Price'].mean()],"Number of Purchases": [df.shape[0]], "Total Revenue": [df["Price"].sum()]})

# Fix formatting by adding a $ and rounding of to 2 decimal point  

Purchasing_Anaylsis_Total["Average Price"] = Purchasing_Anaylsis_Total["Average Price"].astype(float).map("${:,.2f}".format)
Purchasing_Anaylsis_Total["Total Revenue"] = Purchasing_Anaylsis_Total["Total Revenue"].astype(float).map("${:,.2f}".format)

# Purchasing_Anaylsis_Total.info()
Purchasing_Anaylsis_Total.set_index('Total Players')

Purchasing_Anaylsis_Total

   Total Players Average Price  Number of Purchases Total Revenue
0            576         $3.05                  780     $2,379.77

## Gender Demographics

In [41]:

#Calculate percenatge of players by Gender using group by 

Gender_Data_Percentages = (df.groupby('Gender').nunique()['SN'] / TP) *100
Gender_Data_Percentages

#Create a data from using group by dataframe 
Gender_demo =  pd.DataFrame({'Total Count': TP, 'Percentage of Players': Gender_Data_Percentages})

#converting Percentage of players to proper formatting 
Gender_demo["Percentage of Players"] = Gender_demo["Percentage of Players"].astype(float).map("{:,.2f}%".format)

# removing the index 
Gender_demo.index.name = None
Gender_demo

                       Total Count Percentage of Players
Female                         576                14.06%
Male                           576                84.03%
Other / Non-Disclosed          576                 1.91%

In [42]:
df1 = pd.DataFrame(np.random.randn(4, 2), columns=['a', 'b'])
df2 = df1.style.format("{:.2%}")
df1['c'] = ['a', 'b', 'c', 'd']
df3 = df1.style.format({'a': "{:.2%}"})
df3


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame