### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [57]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# from IPython.display import display
# # from pandas_summary import DataFrameSummary


# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file)
# df.head()
# display(df)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [59]:
df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [60]:
#Display the total number of players

TP = df['SN'].nunique()
TP

# Create a dataframe for total players 

Total_players = pd.DataFrame({"Total Players":[TP]})
Total_players

   Total Players
0            576

In [61]:
# Calculate Total Players , Average Price , Number of Purchases and Total revenue

Purchasing_Anaylsis_Total =  pd.DataFrame({"Total Players":[df['SN'].nunique()], "Average Price": [df['Price'].mean()],"Number of Purchases": [df.shape[0]], "Total Revenue": [df["Price"].sum()]})

# Fix formatting by adding a $ and rounding of to 2 decimal point  

Purchasing_Anaylsis_Total["Average Price"] = Purchasing_Anaylsis_Total["Average Price"].astype(float).map("${:,.2f}".format)
Purchasing_Anaylsis_Total["Total Revenue"] = Purchasing_Anaylsis_Total["Total Revenue"].astype(float).map("${:,.2f}".format)

# Purchasing_Anaylsis_Total.info()
# Purchasing_Anaylsis_Total.set_index('Total Players', inplace=True)

Purchasing_Anaylsis_Total

   Total Players Average Price  Number of Purchases Total Revenue
0            576         $3.05                  780     $2,379.77

## Gender Demographics

In [62]:

#Calculate percenatge of players by Gender using group by 

Gender_Data_Percentages = (df.groupby('Gender').nunique()['SN'] / TP) *100
Gender_Data_Percentages

#Create a data from using group by dataframe 
Gender_demo =  pd.DataFrame({'Total Count': TP, 'Percentage of Players': Gender_Data_Percentages})

#converting Percentage of players to proper formatting 
Gender_demo["Percentage of Players"] = Gender_demo["Percentage of Players"].astype(float).map("{:,.2f}%".format)

# removing the index 
Gender_demo.index.name = None
Gender_demo

                       Total Count Percentage of Players
Female                         576                14.06%
Male                           576                84.03%
Other / Non-Disclosed          576                 1.91%


## Purchasing Analysis (Gender)





* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

Gen_Obj = df.groupby('Gender')

gender_purchase_count = Gen_Obj['Item Name'].count()
gender_purchase_count

gender_avg_purchase_price = Gen_Obj['Price'].mean()
gender_avg_purchase_price

gender_avg_purchase_pp = df.groupby('Gender')['Price'].mean()
gender_avg_purchase_pp

gender_total_pp = Gen_Obj['Price'].sum() / gender_purchase_count
gender_total_pp

#lets make a dataframe df1

df1 = pd.DataFrame({
    'Purchase Count' : gender_purchase_count,
    'Average Purchase Price' : gender_avg_purchase_price,
    'Total Purchase Value'  : gender_total_pp,
    'Avg Total Purchase per Person' : gender_avg_purchase_pp
})
#lets format the dataframe df1

df1["Average Purchase Price"]=df1["Average Purchase Price"].astype(float).map("${:.2f}".format)
df1["Total Purchase Value"]=df1["Total Purchase Value"].astype(float).map("${:.2f}".format)
df1["Avg Total Purchase per Person"]=df1["Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)

df1

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$3.20,$3.20
Male,652,$3.02,$3.02,$3.02
Other / Non-Disclosed,15,$3.35,$3.35,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [64]:
#Establish age bins
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 50]

#Create group labels for age bins
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize Data
df["Age Group"] = pd.cut(df["Age"], bins, labels=labels)

age_group = df.groupby("Age Group")

#Calculate Numbers and Percentages by Age Group
total_age = age_group["SN"].nunique()

age_percentage = (total_age/TP) * 100
# type(bins)
# type(labels)

In [65]:
#Create Summary Data Frame
agedemo = pd.DataFrame({"Total Count": total_age,
                                "Percentage of Players": age_percentage})
#Formating
agedemo.index.name = None
agedemo["Percentage of Players"] = agedemo["Percentage of Players"].astype(float).map("{:.2f}%".format)

agedemo

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [66]:
# calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc.

# Purchase Count
purchase_count_byage = age_group['Purchase ID'].count()
#print it 
# purchase_count_byage

# Average Purchase Price 
avg_purchase_price_byage = age_group['Price'].mean().astype(float).map("${:.2f}".format)
#print it 
# avg_purchase_price_byage


# Total Purchase Value
total_purchase_value_byage = age_group["Price"].sum()
#print it
total_purchase_value_byage

#  Avg Total Purchase per Person 
avg_total_purchase_byage = total_purchase_value_byage/total_age
#print it 
# avg_total_purchase_byage

# Create a dataframe 

purchasing_analysis_byage = pd.DataFrame({
    'Purchase Count'                  :purchase_count_byage,
    'Average Purchase Price'          :avg_purchase_price_byage,  
    'Total Purchase Value'            :total_purchase_value_byage, 
    'Avg Total Purchase per Person'   :avg_total_purchase_byage
})

#print it 
purchasing_analysis_byage

# format it 
purchasing_analysis_byage.index.name = "Age Ranges"
purchasing_analysis_byage['Total Purchase Value'] =  purchasing_analysis_byage['Total Purchase Value'].astype(float).map("${:.2f}".format)
purchasing_analysis_byage['Avg Total Purchase per Person'].astype(float).map("${:.2f}".format)

#print it 
purchasing_analysis_byage

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,4.537059
10-14,28,$2.96,$82.78,3.762727
15-19,136,$3.04,$412.89,3.858785
20-24,365,$3.05,$1114.06,4.318062
25-29,101,$2.90,$293.00,3.805195
30-34,73,$2.93,$214.00,4.115385
35-39,41,$3.60,$147.67,4.763548
40+,13,$2.94,$38.24,3.186667


##  Top Spenders
*Run basic calculations to obtain the results in the table below

* Create a summary data frame to hold the results

* Sort the total purchase value column in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the summary data frame

In [68]:
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [122]:



ballers_purchase_count = df.groupby("SN")["Purchase ID"].count()
ballers_avg_purchase_price =  df.groupby("SN")["Price"].mean()
ballers_total_purchase_value = df.groupby("SN")["Price"].sum()

# Create Summary Data Frame
ballerss = pd.DataFrame({'Purchase Count'          :ballers_purchase_count,
                         'Average Purchase Price'  : ballers_avg_purchase_price,
                         'Total Purchase Value'    : ballers_total_purchase_value})
#print it 
ballerss
                       
#Formatting
ballerss_format = ballerss.sort_values(['Total Purchase Value'],ascending=False)
ballerss_format['Average Purchase Price'] = ballerss_format['Average Purchase Price'].astype(float).map("${:.2f}".format)
ballerss_format['Total Purchase Value'] =  ballerss_format['Total Purchase Value'].astype(float).map("${:.2f}".format)

ballerss_format.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

SyntaxError: invalid character in identifier (<ipython-input-96-e846087e80ba>, line 2)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame